.editor-wrapper .ck-content p.dropcap::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1;
  padding-right: 8px;
  font-weight: bold;
}

.btn-group-preview{
display: flex !important;
gap: 20px;
}.editor-wrapper {
  position: relative;
}

.editor-loader {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
