.editor-wrapper .ck-content p.dropcap::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1;
  padding-right: 8px;
  font-weight: bold;
}

.btn-group-preview{
display: flex !important;
gap: 20px;
}